@model project2.Models.Admin

@{
    ViewBag.title = "Sign In page";
    Layout = "~/Views/Shared/layout1.cshtml";
}
@using (Html.BeginForm("signin", "Admin", FormMethod.Post))
{
    <div class="row-fluid">
        <div class="span12 text-center">
            <h2>Sign In</h2>
            <br />


            @Html.LabelFor(m => m.Username, "Username ", new { id = "uname" })
            @Html.TextBoxFor(m => m.Username, new { type = "text", placeholder = "Username" })
            @Html.ValidationMessageFor(m => m.Username)
            <br /><br />
            @Html.LabelFor(m => m.Password, "Password ", new { id = "pass" })
            @Html.TextBoxFor(m => m.Password, new { type = "text", placeholder = "Password" })
            @Html.ValidationMessageFor(m => m.Password)

            <div>
               <p style="color:red">Either username or password incorrect</p>

            </div>

            <button type="submit" class="btn btn-success">Submit</button>
            <a href="~/Admin/logup" class="btn btn-success" role="button">Sign Up</a>
            @*</form>*@
        </div>
    </div>
}


